<form action="/articles" method="post">
  <label for="text">Title</label><br>
  <input type="text" name="title" id=""><br>
  <label for="textarea">Content</label> <br>
  <textarea name="content" id="" cols="30" rows="10"></textarea> <br>
  <button type="submit">Submit</button>
</form>